.container-footer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 90px;
  padding-right: 2%;

  p {
    font-size: calc(var(--font-size-standard) * 0.8);
  }
}

@media screen and (max-width: 600px) {
  .container-footer {
   
	display: flex;
	justify-content: center;
    margin-top: 0px;
    p {
      font-size: calc(var(--font-size-standard) * 0.6);
    }
  }
}
