.background-animated {
  background: linear-gradient(
    320deg,
    #211a1e 3%,
    #0e3b43 38%,
    #6b9080 68%,
    #a4c3b2 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  display: flex;
  justify-content: center;
  background-attachment: fixed;

  @keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
}


@keyframes fadein {
  0% {
      opacity:0;
  }
  50%{
      opacity:0.5;
  }
  100% {
      opacity:1;
  }
}
.container-intro {
  animation: fadein 3s; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .Welcome {
    text-align: center;

    a {
      text-decoration: none;
      cursor: pointer;
    }
    h1 {
      font-size: calc(var(--font-size-standard) * 3);
    }
    p {
      font-size: calc(var(--font-size-standard) * 1.5);
    }
    h2 {
      font-size: calc(var(--font-size-standard) * 2);
    }
  }
}

@media screen and (max-width: 600px) {
.container-intro {
  .Welcome {
  h1 {
    font-size: calc(var(--font-size-standard) * 1.8);
  }
  p {
    font-size: calc(var(--font-size-standard) * 1.3);
  }
  h2 {
    font-size: calc(var(--font-size-standard) * 1.8);
  }
}
}
}