body {
    background-color: var(--background-color);
}
.container-presentation {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  .Header_text {
    margin-top: 40px;
    margin-right: 40px;
    text-align: center;
  }
  h1 {
    font-size: calc(var(--font-size-standard) * 2);
    flex-direction: column;
  }

  .Profil {
    p {
      font-size: calc(var(--font-size-standard) * 1);
    }
  }
  .Social_link {
    img {
      width: 90px;
      height: 90px;
    }
  }
}
