.container-projects {
	display: flex;
	align-items: center;
	width: 100vw;
	height: 60vh;

	padding-top: 20%;
	padding-left: 5%;

	@keyframes slideAnimation {
		0% {
			transform: translateX(-150%);
		}
		50% {
			transform: translateX(0);
		}
	}
	@keyframes scaleIn {
		from {
			transform: scale(0.8);
			opacity: 0;
		}
		to {
			transform: scale(1);
			opacity: 1;
		}
	}

	.header {
		position: absolute;
		animation: slideAnimation 2s;
		transition: transform 0.5s ease;
		h1 {
			cursor: pointer;
			font-size: calc(var(--font-size-standard) * 2.3);
		}
		a {
			text-decoration: none;
		}
		.button {
			margin: 0;
			height: auto;
			background: transparent;
			padding: 0;
			border: none;
			cursor: pointer;
		}

		/* button styling */
		.button {
			--border-right: 6px;
			--text-stroke-color: rgba(255, 255, 255, 0.6);
			--animation-color: #37ff8b;
			--fs-size: 2em;

			text-decoration: none;
			font-size: var(--fs-size);

			position: relative;
			text-transform: uppercase;
			color: transparent;
			-webkit-text-stroke: 1px var(--text-stroke-color);
		}
		/* this is the text, when you hover on button */
		.hover-text {
			position: absolute;
			box-sizing: border-box;
			content: attr(data-text);
			color: var(--animation-color);
			width: 0%;
			inset: 0;
			border-right: var(--border-right) solid var(--animation-color);
			overflow: hidden;
			transition: 0.5s;
			-webkit-text-stroke: 1px var(--animation-color);
		}
		/* hover */
		.button:hover .hover-text {
			width: 100%;
			filter: drop-shadow(0 0 23px var(--animation-color));
		}
	}
	.header:hover {
		transform: scale(1.2);
	}

	h1:hover {
		background: -webkit-linear-gradient(left, #3c574b, #527762 70%);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}
}

@media screen and (max-width: 700px) {
	.container-projects {
		justify-content: center;
		.header {
			margin-top: 200px;
			h1 {
				font-size: calc(var(--font-size-standard) * 1.5);
			}
		}
	}
}
