.Sharing {
	background-color: transparent;
	width: 300px;
	height: 420px;
}

.innerCard {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	cursor: pointer;
}

.Sharing:hover .innerCard {
	transform: rotateY(180deg);
}

.frontSide {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	color: white;
	box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);

	img {
		border-radius: 20px;
	}
}
.backSide {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 5%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	color: white;
	box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);

	.title {
		font-size: calc(var(--font-size-standard) * 0.8);
	}
	h1 {
		font-size: calc(var(--font-size-standard) * 1.2);
	}
	h2 {
		font-size: calc(var(--font-size-standard) * 0.7);
		
	}

	.description {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 3%;

		p {
			padding-top: 5%;
			font-size: calc(var(--font-size-standard) * 0.6);
			text-align: justify;
		}
	}
}

.hardskills {
	p {
		font-size: calc(var(--font-size-standard) * 0.7);
		font-weight: var(--font-weight-text-bold);
	}
}
@keyframes scaleIn {
	from {
		transform: scale(0.8);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
.link {
	a {
		text-decoration: none;
		font-size: calc(var(--font-size-standard) * 0.7);
		font-weight: var(--font-weight-text-bold);
	}
	a:hover {
		color: black;
	}
}

.Sharing.frontSide,
.frontSide::before {
	background: linear-gradient(
		43deg,
		rgb(34, 90, 73) 30%,
		rgb(52, 107, 92) 46%,
		rgb(82, 131, 117) 100%
	);
}

.backSide,
.backSide::before {
	background-image: linear-gradient(
		160deg,
		rgb(26, 70, 57) 0%,
		rgb(82, 131, 117) 100%
	);
}

.backSide {
	transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: "";
	width: 110%;
	height: 110%;
	position: absolute;
	z-index: -1;
	border-radius: 1em;
	filter: blur(20px);
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0% {
		opacity: 0.3;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0.3;
	}
}

