.Sharing {
  background-color: transparent;
  width: 300px;
  height: 420px;
}




.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.Sharing:hover .innerCard {
  transform: rotateY(180deg);
}

.frontSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);

  img {
    border-radius: 20px;
  }
}
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);

  .title {
    font-size: calc(var(--font-size-standard) * 0.8);
    padding: 2%;
  }
  h1 {
    font-size: calc(var(--font-size-standard) * 1.2);
    padding: 2%;
  }
  h2 {
    font-size: calc(var(--font-size-standard) * 0.7);
    padding: 5%;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    padding: 2%;
    p {
      font-size: calc(var(--font-size-standard) * 0.7);
      padding: 5%;
      text-align: center;
    }
  }
}
.hardskills {
  font-size: calc(var(--font-size-standard) * 0.5);
  font-weight: 500;

  padding-top: 20%;
}

.link {
  padding-top: 20%;
  a {
    text-decoration: none;
    font-size: calc(var(--font-size-standard) * 0.7);
    font-weight: 500;
    text-align: left;
  }
}


.Sharing.frontSide,
.frontSide::before {
  background: linear-gradient(
    43deg,
    rgb(26, 70, 57) 0%,
    rgb(52, 107, 92) 46%,
    rgb(82, 131, 117) 100%
  );
}

.backSide,
.backSide::before {
  background-image: linear-gradient(
    160deg,
    rgb(26, 70, 57) 0%,
    rgb(82, 131, 117) 100%
  );
}

.backSide {
  transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}
