@import "_MainPage";
@import "_ProfilCard";
@import "_ContactCard";
@import "_Intro";
@import "_settings";
@import "_Projects";
@import "_ProjectsList";
@import "_Logo";
@import "_SharingCard";
@import "WookieCard";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;1,200;1,500&display=swap");
